* {
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

:root {
  --dark: #164863;
  --dark-light: #427d9d;
  --dark-lighter: #9bbec8;
  --light: #ddf2fd;
}

body {
  background-color: var(--light);
}

/* nav */
nav ul {
  background-color: var(--dark);
  padding: 15px;
}

nav ul li {
  display: flex;
  gap: 20px;
  color: white;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

/* appointment section */
#show-appointment-section {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

#form-appointment {
  padding: 20px 50px;
}

#form-appointment form {
  margin-top: 20px;
}

#form-appointment label {
  display: block;
  margin-bottom: 10px;
}

#form-appointment input[type="date"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

#form-appointment button {
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

#form-appointment button:hover {
  background-color: #45a049;
}

h4 {
  font-size: 15px;
  letter-spacing: 1.2px;
}

#available-time-slots {
  margin-top: 10px;
  margin-bottom: 10px;
}

.time-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  gap: 10px;
}

.time {
  padding: 8px 6px;
  border: 2px solid #d3d3d3;
  border-radius: 4px;
  width: 120px;
  font-size: 14px;
  cursor: pointer;
}

.time:hover {
  background-color: var(--dark-lighter);
}

.active {
  background-color: var(--dark-light);
  color: white;
}

.day {
  padding-bottom: 4px;
}

.selected {
  background-color: var(--dark-lighter);
  border: none;
  color: white;
}
