* {
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

:root {
  --dark: #164863;
  --dark-light: #427d9d;
  --dark-lighter: #9bbec8;
  --light: #ddf2fd;
}
body {
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-position: center;
}

.login-section,
.register-section {
  display: flex;
  justify-content: center;
}

#login,
#register {
  background-color: rgba(22, 72, 99, 0.7);
  background-color: transparent;
  border-radius: 5px;
  width: 400px;
  backdrop-filter: blur(5px);
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
}

h2 {
  margin-top: 30px;
}

h1,
h2 {
  color: white;
  text-align: center;
}

#login div,
#register div {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 5px;
  color: white;
}

form input,
form select {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.button-container {
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container input {
  width: fit-content;
  padding: 10px 40px;
}

.button-container a {
  font-size: 13px;
  margin-top: 5px;
  text-align: center;
  display: block;
}
