* {
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

:root {
  --dark: #164863;
  --dark-light: #427d9d;
  --dark-lighter: #9bbec8;
  --light: #ddf2fd;

  --red: rgb(225, 92, 92);
  --yellow: #d1d159;
}

/* nav */
nav ul {
  background-color: var(--dark);
  padding: 15px;
}

nav ul li {
  display: flex;
  gap: 20px;
  color: white;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

body {
  background-color: var(--light);
}

/* profile */
#profile-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

#profile-form {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#profile-form div {
  display: flex;
  flex-direction: column;
}

#profile-form label {
  font-size: 14px;
  font-weight: 500;
}

#profile-form input,
#profile-form textarea {
  padding: 6px;
  border: 1px solid #ccc;
}

#profile-form input[type="submit"] {
  font-size: 16px;
  color: white;
  background-color: var(--dark-light);
}
