<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card bg-light border-0 rounded-3">
        <div class="card-body text-center">
          <div class="d-flex justify-content-center mb-4">
            <img
              [src]="profile.avatar"
              [alt]="profile.name"
              class="img-fluid rounded-circle"
              style="width: 150px"
            />
          </div>
          <h3 class="card-title">{{ profile.name }}</h3>
          <p class="card-text">{{ profile.email }}</p>
          <hr />
          <h5 class="card-title text-start">Profile Details</h5>
          <ul class="list-group list-group-flush text-start">
            <li class="list-group-item border-0">
              <strong>ID:</strong> {{ profile.id }}
            </li>
            <li class="list-group-item border-0">
              <strong>Email:</strong> {{ profile.email }}
            </li>
            <li class="list-group-item border-0">
              <strong>Roles:</strong> {{ profile.role }}
            </li>
            <li class="list-group-item border-0">
              <strong>Password:</strong> ********
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
