* {
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

:root {
  --bg-color: rgb(162, 168, 194);
  --todo-color: #ecedf6;
  --white: white;

  --btn-delete: rgb(185, 48, 48);
  --btn-edit: rgb(40, 40, 186);
  --btn-add: #6370f5;
  --btn-add-hover: #7f88ee;
  --btn-complete: rgb(26, 172, 26);

  --toast-error: #de4f4f;
  --toast-info: rgb(27, 133, 208);
  --toast-warning: #deab54;
  --toast-success: var(--btn-add);
}

body {
  background-color: var(--bg-color);
}

.todo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

h1 {
  text-transform: uppercase;
  color: var(--white);
}

.todo {
  padding-top: 20px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topbar {
  width: 104%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.topbar button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: var(--btn-add);
  color: var(--white);
  cursor: pointer;
}

.topbar select {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--todo-color);
  border: none;
}

.todoList {
  width: 100%;
  padding: 12px;
  background-color: var(--todo-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
}

.task {
  padding: 10px;
  background-color: var(--white);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.task input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 12px;
  cursor: pointer;
}

.task-details {
  flex: 1;
}

.task-title {
  font-weight: 500;
  text-transform: capitalize;
}
.due-date {
  font-size: 12px;
}

.task-actions {
  margin-left: 10px;
}

.task-actions button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.task-actions i {
  background-color: var(--todo-color);
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
}

.delete-btn {
  color: var(--btn-delete);
}

.edit-btn {
  color: var(--btn-edit);
}

.complete-btn {
  color: var(--btn-complete);
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border-radius: 5px;
  width: 500px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px 16px;
  background-color: var(--todo-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close {
  font-size: 26px;
  cursor: pointer;
}

.modal-body {
  padding: 2px 16px;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.modal-body .title-div,
.modal-body .date-div {
  display: flex;
  flex-direction: column;
}

.modal-body div label {
  font-size: 14px;
  padding-bottom: 3px;
}

.modal-body input,
.modal-body select {
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: var(--todo-color);
}

.priority-div {
  display: flex;
  align-items: center;
  text-align: center;
}

.priority-div input {
  width: 18px;
  height: 18px;
  margin-right: 12px;
  cursor: pointer;
}

.priority-title {
  font-size: 14px;
}

.modal-body button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--btn-add);
  color: var(--white);
  cursor: pointer;
  width: min-content;
  transition: 0.2s ease-in;
}
.modal-body button:hover {
  background-color: var(--btn-add-hover);
}

/* extra */
.center {
  text-align: center;
}

.complete-color {
  background-color: rgb(192, 192, 241);
}

/* toast */
#toast-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.toast {
  color: #fff;
  padding: 12px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.toast-content {
  display: flex;
  gap: 10px;
}

.toast.error {
  background-color: var(--toast-error);
}

.toast.warning {
  background-color: var(--toast-warning);
}

.toast.success {
  background-color: var(--toast-success);
}

.toast.info {
  background-color: var(--toast-info);
}

.toast .close-btn {
  cursor: pointer;
  padding: 0 5px;
  font-weight: bold;
}
