@media screen and (max-width: 600px) {
  #home,
  #about,
  #contact,
  #project,
  #blog {
    padding: 0px;
  }

  header ul {
    display: none;
  }

  .about-container {
    flex-direction: column;
  }
  .image-container {
    width: 100%;
    text-align: center;
  }
  .project-container {
    width: 100%;
  }
  .project-container h1 {
    margin-bottom: 10px;
  }

  #blog {
    width: 100%;
    background-color: yellow;
    padding: 0px;
  }
  .blog-container {
    width: 100%;
  }
  .blog-container div {
    width: 100%;
  }
  .blog-image-container {
    width: 100%;
  }
  .blog-image-container img {
    width: 100%;
  }
  .blog-container div h5 {
    width: 100%;
  }

  /* footer */
  footer {
    padding: 20px;
    background-color: var(--color2);
    color: var(--color4);
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
